.tabLeine {
    transition: all .5s;
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
}

.tabLeine:hover {
    background-color: rgba(33, 38, 143, .3)
}

.tableHeadItem {
    font-family: 'SFUIDisplayBold', sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    word-wrap: break-word;
}

.tableHeadItem:nth-child(1) {
    max-width: 21%;
}

.tableHeadItem:nth-child(2) {
    width: 9%;
}

.tableHeadItem:nth-child(3) {
    width: 18%;
    padding: 0;
}

.tableHeadItem:nth-child(4) {
    width: 28%;
}

.tableHeadItem:nth-child(5) {
    width: 25%;
}

.tableHead {
    background-color: rgba(33, 38, 143, .2);
}

.buttonHead {
    font-family: inherit;
    position: relative;
    display: block;
    text-align: start;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: 1.5rem;
    border: none;
    background-color: transparent;
    transition: all .5s;
}

.buttonHead:hover {
    box-shadow: 0 0 10px #19077e;
}

.buttonHead:active,
.buttonHead:focus {
    box-shadow: 0 0 19px 4px #19077e;
}

.buttonArrow {
    display: inline-block;
    border: .3rem solid;
    border-color: #000 transparent transparent;
    position: absolute;
    top: 46%;
    right: .7rem;
}

/*!for layout*/
.buttonHead:hover .buttonArrow,
/*!for layout*/
.buttonHead:active .buttonArrow,
/*!for layout*/
.buttonHead:focus .buttonArrow {
    border-color: transparent transparent #000;
    position: absolute;
    top: 37%;
    right: 10%;
}


/* ! to filter in ascending order TSX*/
.active .buttonArrow {
    border-color: transparent transparent #000;
    position: absolute;
    top: 37%;
    right: 10%;
}