.tabLeine {
    transition: all .5s;
}

.tabLeine:hover {
    background-color: rgba(33, 38, 143, .3)
}

.tableHeadItem {
    font-family: 'SFUIDisplayBold', sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    white-space: pre-wrap;
}

.tableHeadItem:nth-child(3) {
    padding: 0;
}

.tableHead {
    background-color: rgba(33, 38, 143, .2);
}

.buttonHead {
    font-family: inherit;
    position: relative;
    display: inline-block;
    text-align: start;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: none;
    background-color: transparent;
}

.buttonHead:hover {
    box-shadow: 0 0 10px #19077e;
}

.buttonHead:active,
.buttonHead:focus {
    box-shadow: 0 0 19px 4px #19077e;
}

.buttonArrow {
    display: inline-block;
    border: .3rem solid;
    border-color: #000 transparent transparent;
    position: absolute;
    top: 1.35rem;
    right: .7rem;
}

.buttonHead:hover .buttonArrow
 /*!for layout*/
/* .buttonHead:active .buttonArrow, */
/*!for layout*/
/* .buttonHead:focus .buttonArrow  */
 {
    border-color: transparent transparent #000;
    position: absolute;
    top: 1rem;
    right: .7rem;
}


/* ! to filter in ascending order TSX*/
.active .buttonArrow {
    border-color: transparent transparent #000;
    position: absolute;
    top: 1rem;
    right: .7rem;
}