.tableButton {
    display: inline-block;
    background-color: #D7D8EF;
    font-family: 'SFUIDisplaySemibold', sans-serif;
    font-size: .8rem;
    line-height: 2;
    color: #21268F;
    border-radius: .3em;
    border: transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: all .5s;
}

.tableButton:hover {
    box-shadow: 0 0 10px #19077e;
}

 