.wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.wrap::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.6;
}

.modalContent {
    position: fixed;
    width: 25rem;
    height: 15rem;
    right: calc(50% - 12.5rem);
    top: calc(50% - 7.5rem);
    background-color: #fff;
    padding: 1.5rem;
}