.container {
    padding-top: 3.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.boxForm {
    margin: auto;
    padding: 1.56em 2.06em 1.63em 2.06em;
    background-color: #F9F9FE;
    border-radius: 8px;
    max-width: 25.8em;
    }

    