.container {
    padding-top: 3.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.boxForm {
    margin: auto;
    padding: 1.56rem 2.06rem 1.63rem 2.06rem;
    background-color: #F9F9FE;
    border-radius: .5rem;
    max-width: 25.8rem;
    }

    