.spanClassName {
  font-size: 0.88rem;
  text-align: center;
  color: #2D2E46;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox+span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox+span::before {
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked+span::before {
  border-color: #21268F;
  background-color: #21268F;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.checkbox:not(:disabled):not(:checked)+span:hover::before {
  border-color: #c1b3ff;
  box-shadow: 0 0 0 0.2rem rgba(111, 0, 255, 0.25);
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.checkbox:not(:disabled):active+span::before {
  background-color: #c1b3ff;
  border-color: #c1b3ff;
}

/* стили для чекбокса, находящегося в фокусе */
.checkbox:focus+span::before {
  box-shadow: 0 0 0 0.2rem rgba(111, 0, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox:focus:not(:checked)+span::before {
  border-color: #c1b3ff;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox:disabled+span::before {
  background-color: #e9ecef;
}