@import url('../src/assets/fonts.css');

* {
  box-sizing: border-box;
}

:root,
::before,
::after {
  box-sizing: inherit;
}

:root {

  /* 16 px  for 1440px*/
  font-size: calc(0.8rem + 0.225vw);
}

/* @media (min-width:1441px) {
  :root {
    font-size: 1em;
  }
} */


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'SFUIDisplayNormal', sans-serif;
  font-size: 1rem;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
input,
label {
  cursor: pointer;
}

button {
  transition: all .2s;
}


a {
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 2rem;
  transition: all .2s;
}

a:hover {
  border: 1px solid;
}